<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="Deepak Rapolu" content="" />
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/c3/c3.css" />
    <link rel="stylesheet" href="bower_components/jqTree/jqtree.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/c3/c3.js"></script>
    <script src="bower_components/jqTree/tree.jquery.js"></script>
    <script src="bower_components/matchHeight/dist/jquery.matchHeight.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- inject:css -->

    <link rel="stylesheet" href="css/custom.css"/>
    <!-- endinject -->
</head>
<body>
<div class="container-fluid" >

    <div class="row">
        <div class="col-md-2 removeCol-md-3-padding" >
            <div class="card box" style="text-align:center">
                <img class="card-img-top logoPadding" src="img/mashreq.png" alt="LOGO"/>
                <h5 class="header">Operational Analytics</h5>
            </div>
            <div class="card box2" class="side-bar">
                <div class="card-img-top" class="side-bar">
                    <div id="retailTree" class="treeHeight "></div>
                </div>
            </div>
        </div>
        <div class="col-md-10 paddingForMobile">
            <div>
                <div class="card vertical-center box">
                    <div class="col-md-4 col-md-offset-4 h3">
                        Retail Analytics Dashboard
                    </div>
                    <div class="col-md-4">
                        <span class="h4 pull-right">Santosh</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="card box2">
                    <ul class="bread-crumb">
                        <li><a href="#">Retail</a></li>
                        <li><a href="#">Liability</a></li>
                        <li><a href="#">CASA</a></li>
                        <li><a href="#">Indexer</a></li>
                        <li><a href="/">Team</a></li>
                    </ul>
                    <div class="header-bar box">
                        <h4>CASA PRODUCTIVITY&nbsp;&nbsp;[90%]</h4>
                    </div>
                    <table class="table">
                        <thead>
                            <tr id="tableHeader">
                                <script type="text/template" id="tableHeadTemplate">
                                    <% _.each(items,function(item){ %>
                                    <th><%= item %></th>
                                    <% }); %>
                                </script>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            <script type="text/template" id="tableBodyTemplate">
                                <% 
                                    _.each(rows,function(row){  
                                %>
                                <tr>
                                    <% 
                                        _.each(row,function(col,index){
                                            if(index==0){
                                    %>
                                    
                                    <td><a href="employee.html"><%= col %> </a> </td>             
                                    
                                    <% 
                                        return;
                                        } 
                                        var style="";
                                        if(col==="103%" || col == "106%") 
                                            style = "background-color:#92d050";
                                        else if(col === "78%" || col == "81%")
                                            style = "background-color:#c55a11";
                                    %>
                                    
                                    <td style=<%= style %>><%= col %></td>
                                    
                                    <% }); %>
                                </tr>
                                
                                <% }); %>
                            </script>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div id="chart">
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-5">
                                    <div class="tile tile-left">
                                        <span class="h4 top-left"> MIN productivity</span>
                                        <span class="bottom-left">Emp3</span>
                                        <span class="bottom-right h3">78%</span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="tile tile-right">
                                        <span class="h4 top-left"> MAX productivity</span>
                                        <span class="bottom-left">Emp2</span>
                                        <span class="bottom-right h3">106%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <div class="tile tile-down">
                                        <h4>Insights</h4>
                                        <ol>
                                            <li>Least Productivity Slot is   5</li>        
                                            <li>Highest Productivity Slot is   2</li>
                                            <li>Most Inconsistent employee is  E4</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/app.js"></script>
<script src="js/grid.js"></script>
</body>
</html>